{% extends 'admin_interface/base.html' %}

{% block content %}
<div class="container">
    <h1>Elections</h1>
   
     {% if elections %}
    <table>
    <tr>
        <th>Election ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
   
    {% for election in elections %}
    <tr>
        <td>
        {{ election.id }}
        </td>
        <td>
        
        </td>
        <td>
        {{ election.start_date }}
        </td>
        <td>
        {{ election.end_date }}
        </td>
        <td>
            <a href="{% url 'election_edit' %}/{{ election.id }}" class="btn btn-success">Edit</a>
                   <a href="{% url 'election_delete' %}/{{ election.id }}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% else %}
    <h3>No Elections available</h3>
    {% endif %}

    <h2>Actions</h2>
     <a href="{% url 'election_create' %}" class="btn btn-success">Create</a>
</div>
{% endblock %}