
{% extends 'admin_interface/base.html' %}
{% load staticfiles %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% if not election %}
	<h1>New Election</h1>
{% else %}
	<h1>Edit Election</h1>
{% endif %}
{% if candidates %}
<form method="POST">{% csrf_token %}
	{{ form.as_p }}
	

	<section class="election_sec">
		<h2>Add Candidates</h2>
		<select name="candidates[]" id="candidates_dropdown" class="js-example-placeholder-multiple" multiple="multiple" required>
		{% for candidate in candidates %}

			<option value="{{ candidate.id }}" {% if candidate.id in current_candidates %} selected {% endif %} >{{ candidate.first_name }} {{ candidate.last_name }} </option>

		{% endfor %}
		</select>
		
	</section>
	<section class="election_sec">
		<h2>Add Regions</h2>

		<a href="#" class="btn btn-success" id="region_selectAll" data-clicked="false" style="display:block;width: 200px">Select All Regions</a>
		
		
		<select name="regions[]" id="regions_dropdown" class="js-example-placeholder-multiple" multiple="multiple" required>
		{% for region in regions %}

			<option value="{{ region.id }}" {% if region.id in current_regions %} selected {% endif %}>{{ region.name }}</option>

		{% endfor %}
		</select>
				
	</section>
	<h2>Actions</h2>
	<input type="submit" class="btn btn-success" value="Save">
</form>
{% else %}
	<h2>Please add Candidates before continuing</h2>
	<a href="{% url 'candidate_create' %}" class="btn btn-success">Add Candidates</a>
{% endif %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script type="text/javascript">$(document).ready(function(){$(".js-example-placeholder-multiple").select2({width:500, height: 50}),$("#region_selectAll").click(function(a){a.preventDefault(),"false"==$("#region_selectAll").attr("data-clicked")?($("select#regions_dropdown option").attr("selected",!0).parent().trigger("change"),$("#region_selectAll").attr("data-clicked","true")):($("select#regions_dropdown option").attr("selected",!1).parent().trigger("change"),$("#region_selectAll").attr("data-clicked","false"))}) });</script>
{% endblock %}