 {% extends 'admin_interface/base.html' %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}"> {% if not election %}
<h1>New Election</h1> {% else %}
<h1>Edit Election</h1> {% endif %} {% if candidates %}
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <h2>Actions</h2>
    <a href="#" class="btn btn-success" id="region_selectAll" data-clicked="false" style="width: 200px">Select All Regions</a>
    <input type="submit" class="btn btn-success" value="Save">
</form>
{% else %}
<h2>Please add Candidates before continuing</h2>
<a href="{% url 'candidate_create' %}" class="btn btn-success">Add Candidates</a> {% endif %}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
{% block js %}
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2({
            width: 500
        });
        $(".js-example-basic-multiple").select2({
            width: 500,
            height: 100
        }),
        $("#region_selectAll").click(function(a) {
            a.preventDefault(), "false" == $("#region_selectAll").attr("data-clicked") ? ($("select#id_region_id option").attr("selected", !0).parent().trigger("change"), $("#region_selectAll").attr("data-clicked", "true"), $("#region_selectAll").text("Deselect All Regions")) : ($("select#id_region_id option").attr("selected", !1).parent().trigger("change"), $("#region_selectAll").attr("data-clicked", "false"), $("#region_selectAll").text("Select All Regions"))
        });
    });
</script>

{% endblock %}