{% extends 'admin_interface/base.html' %} {% load staticfiles %} {% block content %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel='stylesheet' type='text/css' href='https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
{% if not election %}

<h1>New Election</h1> {% else %}
<h1>Edit Election</h1> {% endif %} {% if candidates %}
<hr>
<form method="POST" id="adminNewElection">
    {% csrf_token %}
    {{ form.as_p }}

    <h2><b>Actions</b></h2>
    <a href="#" class="btn btn-success" id="region_selectAll" data-clicked="false" style="width: 200px; "><i class="fa fa-plus" aria-hidden="true"></i> Select All Regions</a>

    <button role="button" class="btn btn-success" style="display: inline-block">{% if form.instance.id  %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% else %}<i class="fa fa-plus" aria-hidden="true"></i> Create{% endif %}</button>
</form>
{% else %}
<h2>Please add Candidates before continuing</h2>
<a href="{% url 'candidate_create' %}" class="btn btn-success">Add Candidates</a> {% endif %}


{% endblock %}
{% block js %}
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="{% static 'js/timepicker.js' %}"></script>
<script src="{% static 'js/admin/adminvalidation.js' %}"></script>
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2({
            width: 500
        });
        $(".js-example-basic-multiple").select2({
            width: 500,
            height: 100
        }),
        $("#region_selectAll").click(function(a) {
            a.preventDefault(), "false" == $("#region_selectAll").attr("data-clicked") ? ($("select#id_region_id option").attr("selected", !0).parent().trigger("change"), $("#region_selectAll").attr("data-clicked", "true"), $("#region_selectAll").text("Deselect All Regions")) : ($("select#id_region_id option").attr("selected", !1).parent().trigger("change"), $("#region_selectAll").attr("data-clicked", "false"), $("#region_selectAll").text("Select All Regions"))
        });
        var date = new Date();
        $("#id_voting_start_date").datetimepicker({dateFormat: 'dd-mm-yy', hour: date.getHours(), minute: date.getMinutes()});
        $("#id_voting_end_date").datetimepicker({dateFormat: 'dd-mm-yy', hour: date.getHours(), minute: date.getMinutes()});
        $("#id_registration_start_date").datetimepicker({dateFormat: 'dd-mm-yy', hour: date.getHours(), minute: date.getMinutes()});
        $("#id_registration_end_date").datetimepicker({dateFormat: 'dd-mm-yy',hour: date.getHours(), minute: date.getMinutes()});
    });
</script>

{% endblock %}