{% extends 'admin_interface/base.html' %}

{% block content %}

<div class="row">
	{% if 'elections__view' in roles %}
	<div class="dashboard-font col-md-6 col-sm-6">
		<div class="icon">
			<i class="fa fa-list fa-fw low" aria-hidden="true"></i>
		</div>
		<div class="dashboard-content">
			<a href="{% url 'election_view' %}" class="dashboard-item"><h3>View Elections</h3></a>
			<p class="dashboard-item">View, Edit and Delete a Selected Election.</p>
			
		</div>
		
	</div>
	{% endif %}
	{% if 'elections__create' in roles %}
	<div class="dashboard-font col-md-6 col-sm-6">
		<div class="icon">
			<i class="fa fa-plus-circle fa-fw low" aria-hidden="true"></i>
		</div>
		<div class="dashboard-content">
			<a href="{% url 'election_create' %}" class="dashboard-item"><h3>Create Election</h3></a>
			<p class="dashboard-item">Create a New Election.</p>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}