{% include 'admin_interface/components/head.html' %}
<body>

    <nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<!--BUTTON THAT COLLAPSES WHEN PRESSED FOR NAVIGATION ON SMALL DEVICES<-->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
   		   		<span class="icon-bar"></span>
   	 		    <span class="icon-bar"></span>
   	   		  	<span class="icon-bar"></span>                        
   		   </button>

			<a class="navbar-brand" href="#">
				<span><img src="https://assets.publishing.service.gov.uk/static/images/gov.uk_logotype_crown-ea874a79e09423d63420aff44f016fd0b92dc6dec0cc2668d63b150c8669875e.png" width="36" height="32" alt="Brand"></span>
				<b>GOV.UK</b>		
			</a>
		</div>

		<!--This is to do with the 3 pill button that collapses to show other navigation<-->
		<div class="collapse navbar-collapse" id="myNavbar">
  		    <ul class="nav navbar-nav pull-right">
     			<li><a href="{% url 'election_homepage' %}">Elections</a></li>
     			
     			<li><a href="{% url 'admin_master_homepage' %}">Administration</a></li>
        		<li><a href="#">Statistics</a></li>
       		 	<li><a href="{% url 'admin_logout' %}">Sign Out</a></li>
      		</ul>
    	</div>
	</div>
</nav>

    <!--HEADER BAR OR HEADER WELCOME MESSAGE<-->
    {% if first_name %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="welcome-header-bar"> 
                        <p id="welcome-message"><b>Welcome {{ first_name }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
     <!--BREADCRUMBS<-->
    <div class="container">
        <ol class="breadcrumb">
            {% for item in breadcrumb %}
            <li class="breadcrumb-item"><a href="{{ item.1 }}">{{ item.0 }}</a></li>
            {% endfor %}
        </ol>
    </div>
