{% extends 'admin_interface/base.html' %}
{% block content %}
<h1>Voter Codes</h1>
{% if voter_codes %}
    <table class="table table-striped table-hover">
        <thead>
            <th>Voter ID</th>
            <th>Sent Status</th>
            <th>Verified Date</th>
            <th>Unvalidate Date</th>
            <th>Election ID/th>
            <th>Reissue (Print)</th>
            
        </thead>
        <tbody>
            {% for code in voter_codes %}
            <tr>
                <td>
                    {{ code.voter_id }}
                </td>
                <td>
                    {% if code.sent_status == False %}
                        <p>Processing</p>
                    {% else %}
                        <p>Sent</p>
                    {% endif %}
                </td>
                <td>
                    {{ code.verified_date }}
                </td>

                <td>
                    {{ code.invalidated_date }}
                </td>
                <td>
                    {{ code.election_id }}
                </td>
                <td>
                    <a href="{% url 'voter_code_print' id=code.id%}" class="btn btn-warning">Reissue</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    {% if voter_codes.has_other_pages %}
        <ul class="pagination">
            {% if voter_codes.has_previous %}
            <li><a href="{% url 'voter_code_view' page_id=voter_codes.previous_page_number %}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in voter_codes.paginator.page_range %}
            {% if voter_codes.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
                <li><a href="{% url 'voter_code_view' page_id=i %}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if voter_codes.has_next %}
            <li><a href="{% url 'voter_code_view' page_id=voter_codes.next_page_number %}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% else %}
    <h3>No Voter Codes Available</h3>
{% endif %}


{% endblock %}
{% block javascript %}

{% endblock %}