{% include 'admin_interface/components/header.html' %}
{% load staticfiles %}
<div class="container">
    {% include 'admin_interface/components/toast.html' %}
    {% block content %}
    {% endblock %}
</div>
{% include 'voter_interface/components/footer.html' %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>
<script type="text/javascript" src="{% static 'js/admin/adminvalidation.js' %}"></script>

{% block js %}
{% endblock %}