<h1>Welcome Mr. {{ admin }}.  How you Doooingggg?</h1>

<a href="/administration/admins/"><button>Admin</button></a>
<a href="/administration/regions/"><button>Regions</button></a>
<a href="/administration/candidates/"><button>Candidates</button></a>
<a href="/administration/elections/"><button>Elections</button></a>
<a href="/administration/regions/"><button>Regions</button></a>
<a href="/administration/candidates/"><button>Candidates</button></a>
<a href="/administration/elections/"><button>Elections</button></a>
<a href="/administration/login/"><button>Login</button></a>
<a href="/administration/logout/"><button>Logout</button></a>
<a href="/administration/elections/"><button>Elections</button></a>
<a href="/administration/roles/"><button>Roles</button></a>
<a href="/administration/parties/"><button>Parties</button></a>
<a href="/administration/voter_codes/"><button>Voter codes</button></a>