
{% load staticfiles %}

<div class="row">
    <div class="dashboard-font col-md-12 col-sm-12 col-xs-12 col-xl-12">
        

        {% for graph in demographic_statistics %}
            <div class="stat_chart" id="chart_div_{{ graph.graph_num }}"></div>
        {% endfor %}
    </div>
   
</div>



    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
     
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {
        {% autoescape off %}
        {% for graph in demographic_statistics %}
            {{ graph.function_string }}
        {% endfor %}
        {% endautoescape %}

}

    </script>
