
{% extends 'admin_interface/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
{% if form.instance.id %}
    <h1><b>Edit Admin</b></h1>
{% else %}
    <h1><b>New Admin</b></h1>
{% endif %}
<hr/>
<form method="POST" id="adminCreate">{% csrf_token %}

    <h2><b>Personal Information</b></h2>
    <hr>     
    {{ form.as_p }}
    <br>
    <h2><b>Change Password</b></h2>
    <hr>
    {% if form.instance.id %}
        <p><label for="id_cur_password">Current Password</label><input type="password" id="id_cur_password" name="current_password"></p>
    {% endif %}
    <p><label for="id_password">Password</label><input type="password" name="password" id="id_password"></p>
    <p><label for="id_password_repeat">Repeat Password</label><input type="password" name="repeatPassword" id="id_password_repeat"></p>
    <br>

    <h2><b>Roles</b></h2>
    <hr>
    <select name="roles[]" id="roles" class="js-example-basic-multiple js-states form-control" multiple="multiple" requ>
    {% for role in roles %}
        <option value="{{ role.id }}" {% if role.id in current_roles %} selected {% endif %} >{{ role.name }}</option>
    {% endfor %}
    </select>
    <br>
    <input type="checkbox" id="selectAll" >
    <br>
    <br>
    <button role="button" class="btn btn-success" style="display: block;">{% if form.instance.id  %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% else %}<i class="fa fa-plus" aria-hidden="true"></i> Create{% endif %}</button>
</form>
<div class="errors">
    {% for error in errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
</div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/select2.full.min.js' %}"></script>
<script>
    $(document).ready(function() {
    $(".js-example-basic-multiple").select2({
        width: 500
    });
    $("#selectAll").click(function(){
        if($("#selectAll").is(':checked') ){
            $("#roles > option").prop("selected","selected");
            $("#roles").trigger("change");
        }else{
            $("#roles > option").removeAttr("selected");
            $("#roles").trigger("change");
        }
    });
});
</script>
{% endblock %}