
{% extends 'admin_interface/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<h1>Admin</h1>
<form method="POST">{% csrf_token %}

    <h2>Personal Information</h2>
    {{ form.as_p }}
    <h2>Change Password</h2>
    <p><label for="id_password">Password</label><input type="password" name="password" id="id_password"></p>
    <p><label for="id_password_repeat">Repeat Password</label><input type="password" name="repeatPassword" id="id_password_repeat"></p>
    <h2>Roles</h2>
    <select name="roles[]" id="roles" class="js-example-basic-multiple js-states form-control" multiple="multiple">
    {% for role in roles %}
        <option value="{{ role.id }}" {% if role.id in current_roles %} selected {% endif %} >{{ role.name }}</option>
    {% endfor %}
    </select>
    <input type="checkbox" id="selectAll" >
    
    <input type="submit" value="Submit" class="btn btn-success" style="display: block;">
</form>
<div class="errors">
    {% for error in errors %}
    <span class="error">{{ error }}</span>
    {% endfor %}
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'js/select2.full.min.js' %}"></script>
<script>
    $(document).ready(function() {
    $(".js-example-basic-multiple").select2({
        width: 500
    });
    $("#selectAll").click(function(){
        if($("#selectAll").is(':checked') ){
            $("#roles > option").prop("selected","selected");
            $("#roles").trigger("change");
        }else{
            $("#roles > option").removeAttr("selected");
            $("#roles").trigger("change");
        }
    });
});
</script>

{% endblock %}