{% extends 'admin_interface/base.html' %}

{% block content %}
<table class="index">
	<tr>
		<td><a href="{% url 'admin_view' %}"><u><b><p>View Admins</p></b></u></a></td>
		<td><a href="{% url 'admin_create' %}"><u><b><p>Create Admin</p></b></u></a></td>
		<!--<td><a href="#"><u><b><p>Edit Homepage</p></b></u></a></td>-->
		<!--<td><a href="#"><u><b><p>Edit Admin Homepage</p></b></u></a></td>-->
	</tr>
	<tr>
		<td><p>View all elections</p></td>

		<td><p>Create a new election</p></td>
	</tr>
	
</table>

{% endblock %}