{% extends 'admin_interface/base.html' %}

{% block content %}

  <h1><b>Admin Users</b></h1>
  <hr>

  <table class="table table-striped table-hover">
    <thead>
      <th>Admin ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Edit</th>
      <th>Remove</th>
    </thead>
  <tbody>
    {% for admin in admins %}
    <tr>
      <td>
        {{ admin.id }}
        </td>
        <td>
        {{ admin.first_name }}
        </td>
        <td>
        {{ admin.last_name }}
        </td>
        <td>
        {{ admin.user_name }}
        </td>
        <td>
        {{ admin.email }}
        </td>

        <td>
          <a href="{% url 'admin_edit' id=admin.id %}" class="btn btn-success {% if 'admin__edit' not in roles %}disabled{% endif %}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
        </td>
        <td>
          <a href="{% url 'admin_delete' id=admin.id %}" class="btn btn-danger {% if 'admin__delete' not in roles %}disabled{% endif %}"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
        </td>
    </tr>
    {% endfor %}
  </tbody>

  </table>
  {% if admins.has_other_pages %}
      <ul class="pagination">
          {% if admins.has_previous %}
          <li><a href="{% url 'admin_view' page_id=admins.previous_page_number %}">&laquo;</a></li>
          {% else %}
          <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in admins.paginator.page_range %}
          {% if admins.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
              <li><a href="{% url 'admin_view' page_id=i %}">{{ i }}</a></li>
          {% endif %}
          {% endfor %}
          {% if admins.has_next %}
          <li><a href="{% url 'admin_view' page_id=admins.next_page_number %}">&raquo;</a></li>
          {% else %}
          <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
      </ul>
  {% endif %}
  <h2><b>Actions</b></h2>
  <a href="{% url 'admin_create'%}" class="btn btn-success {% if 'admin__create' not in roles %}disabled{% endif %}"><i class="fa fa-plus" aria-hidden="true"></i> Create</a>

{% endblock %}
