
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<h1>New Election</h1>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        

        <div class="div">
        	<h2>Add Candidates</h2>
        	
        	 <table>
        	 	<thead>
        	 		<tr>
        	 			<th>Add</th>
        	 			<th>First Name</th>
        	 			<th>Last Name</th>
        	 			<th>Party ID</th>
        	 			
        	 		</tr>
        	 	</thead>
        	 	<tbody>
        	 		{% for candidate in candidates %}
						<tr>
							<td><input type="checkbox" name="candidates" value="{{ candidate.id }}"></td>
							<td><span>{{ candidate.first_name }}</span></td>
							<td><span>{{ candidate.last_name }}</span></td>
							<td><span>{{ candidate.party_id }}</span></td>
						</tr>
        	 		{% endfor %}
        	 	</tbody>
        	 </table>
        </div>
        <div class="div">
        	<h2>Add Regions</h2>
        	<label >Add All Regions<input type="checkbox" name="regions" id="region_selectAll" value="all"></label>
        	 
        	
 			<select name="regions_dropdpown" id="regions_dropdpown" class="js-example-placeholder-multiple" multiple="multiple">>
 			{% for region in regions %}
	
				<option value="{{ region.id }}">{{ region.name }}</option>

 			{% endfor %}
 			</select>
        	 		
        </div>
        <button type="submit">Save</button>
    </form>
</form>
 <script type='text/javascript' src='http://code.jquery.com/jquery-1.4.4.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script type="text/javascript">
$(".js-example-placeholder-multiple").select2({
  placeholder: "Select a state"
});
</script>