{% include "voter_interface/components/header.html" %}
{% load staticfiles %}
<div class="container">
    
    {% include 'admin_interface/components/toast.html' %}    

    {% block content %}
    {% endblock %}
</div>
{% include "voter_interface/components/footer.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!--<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.js"></script>,-->
{% block js %}
{% endblock %}


<!--<script src="js/validation.js"></script><-->