<p> First static page!!! </p>

<a href="/admins/"><button>Admin</button></a>
<a href="/regions/"><button>Regions</button></a>
<a href="/candidates/"><button>Candidates</button></a>
<a href="/elections/"><button>Elections</button></a>
<a href="/regions/"><button>Regions</button></a>
<a href="/candidates/"><button>Candidates</button></a>
<a href="/elections/"><button>Elections</button></a>
<a href="/login/"><button>Login</button></a>
<a href="/logout/"><button>Logout</button></a>
<a href="/elections/"><button>Elections</button></a>
<a href="/roles/"><button>Roles</button></a>
<a href="/parties/"><button>Parties</button></a>
<a href="/voter_codes/"><button>Voter codes</button></a>