
{% extends 'admin_interface/base.html' %}
{% block content %}

<div class="row">
		<div class="dashboard-font col-md-4 col-sm-4">
			<a href="{% url 'region_view' %}"><h3>View Region</h3></a>
			<p>View all regions</p>
		</div>
		<div class="dashboard-font col-md-4 col-sm-4">
			<a href="{% url 'region_create' %}"><h3>Create Region</h3></a>
			<p>Create a new region</p>
		</div>
		<div class="dashboard-font col-md-4 col-sm-4">
			<a href="{% url 'region_populate' %}"><h3>Populate Region</h3></a>
			<p>Populate regions database</p>
		</div>		
	</div>

{% endblock %}