
{% extends 'admin_interface/base.html' %}
{% block content %}

<div class="row">
	{% if 'region__view' in roles %}
		<div class="dashboard-font col-md-6 col-sm-6">
			<div class="icon">
				<i class="fa fa-list fa-fw low" aria-hidden="true"></i>
			</div>
			<div class="dashboard-content">
				<a href="{% url 'region_view' %}" class="dashboard-item"><h3>View Region</h3></a>
				<p class="dashboard-item">View, Edit and Delete Selected a Regions.</p>
				
			</div>
			
		</div>
	{% endif %}
	{% if 'region__create' in roles %}
		<div class="dashboard-font col-md-6 col-sm-6">
			<div class="icon">
				<i class="fa fa-plus-circle fa-fw low" aria-hidden="true"></i>
			</div>
			<div class="dashboard-content">
				<a href="{% url 'region_create' %}" class="dashboard-item"><h3>Create Region</h3></a>
				<p class="dashboard-item">Create a New Region.</p>
			</div>
			
		</div>
	{% endif %}

</div>

{% endblock %}