{% extends 'voter_interface/base.html' %}
{% block content %}

	<style>
		tr,td
		{
			padding-right: 20px;
		}
	</style>



	<h1><b>Online Voting</b></h1>
	<hr/>
	<div class="row">
			<p class="col-md-12">Online Voting allows you to cast your ballot within local and national elections and referendums securely from your device at home. Here, you are able to register to vote online within a specific election or cast your ballot within an active election.</p>
	</div>

	</br>

	<table>
		<tr>
			<td>
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-bottom: 15px;"></span>
			</td>
			<td>
				<p><b>We use <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">GOV.UK Verify</a>. If you do not already have an account, we will ask you to make one before you cast your vote. We advise this is done before the day of elections.</b></p>
			</td>
		</tr>
	</table>
	
<div class="row">
	<div class="dashboard-font col-md-6 col-sm-6">
		<a href="{% url 'register_summary' %}"><h3>Register to Vote Online</h3></a>
		<p>To caste your vote online, you must first register to vote online. You must complete this process for each election.</p>
		<p>You will need a poll card for each election you would like to register for. This will arrive in the mail.</p>
		<a href="{% url 'register_summary' %}" class="btn btn-success">Register to Vote Online</a>
	</div>
	<div class="dashboard-font col-md-6 col-sm-6">
		<a href="{% url 'cast_vote_summary' %}"><h3>Cast your Vote</h3></a>
		<p>If you have registered to vote online for an election, once the online voting opens, you may use the button below to cast your vote.</p>
		<p>You will need the password you created when you registered and a voter code which you would have been sent in the mail once you registered.</p>
		<a href="{% url 'cast_vote_summary' %}" class="btn btn-success" role="button">Cast your Vote</a>
	</div>	
</div>


	
<!--________________________________________________________________________________<-->


{% endblock %}

