{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="row">
    <h1 class="col-md-8 col-sm-8 col-xs-8" style="font-size: 40px;"><b>Log In</b></h1>
    <hr/> 
    
    <div class="col-md-4 col-sm-4 col-xs-4" id="verify_logo_conteiner">
        <img  id="verify_logo" src=" {% static '/images/Verify_logo.jpg' %} " /> 
    </div>

</div>
<p>Please sign in using your UK Verify details.</p>
</br>


    <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="destination" value ="{{destination}}" />
    
        <button type="submit" class="btn btn-success">Login</button>
    </form>


{% endblock %}