{% extends 'voter_interface/base.html' %}
{% block content %}


<h1><b>Vote Code</b></h1>
<hr/>
<div class="row">
	<p class="col-md-8">Enter your online vote code to continue. You can't continue without a valid code. This code can only be used once and must be associated with your Voter ID.</p>
</div>
<div class="row">
	<div class="form-group col-md-4">
		<div class="input-group">
			<form method="POST">
				{% csrf_token %}
        		{{ form.as_p }}
				<button type="submit" class="btn btn-success">Save</button>
			</form>
		</div>
	</div>
</div>
{% if errors %}
<div class="errors">
	{% for error in erros %}
		<p class="error">{{ error }}</p>
	{% endfor %}
</div>
{% endif %}

{% endblock %}