{% extends 'voter_interface/base.html' %}

{% block content %}

	
	
	<h1><b>Cast Your Vote Online</b></h1>
	<hr>
	

		<p>If you have registered to vote online for an election, once the online voting opens, you may use the button below to cast your vote. You will need the password you created when you registered and a voter code which you would have been sent in the mail once you registered.</p>
		<p><b>REMEMBER:</b> You only get to vote once in an election, once you've cast your vote you will not be able to vote in the same election again.</p>
	
	</br>

	
		<h3><b>Current Elections Nationally where Online Voting is open</b></h3>
		<p>You will select the elections you wish to register for later in the process. For now, please check your desired election is in the list below. If it is missing, this may be because the online registration process has not yet opened or because the election will not offer online voting. </p>
		<ul class="list-group">
			<li class="list-group-item">
				General Election(National)
			</li>
			<li class="list-group-item">
				Local Election - chesham (Amersham and Chesham Constituency Only)
			</li>
		</ul>
	
	</br>

	
	<div class="row">
		<h2>Proceed and Log In Using GOV.UK Verify</h2>
		<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to proceed or <a href="">click here</a> [INSERT THE LINK] to learn more about the GOV.UK Verify process.</p>

		<a href="{% url 'public_verify' %}?destination=cast_vote_id"><button type="button" class="btn btn-success">Proceed to GOV.UK Verify Login</button></a>
	
	</br>

	

<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}
<script type="text/javascript">
	$('.carousel').carousel();
	</script>
{% endblock %}