{% extends 'voter_interface/base.html' %}

{% block content %}

	<style>
		tr,td
		{
			padding-right: 20px;
		}
	</style>

	
	<h1><b>Cast Your Vote Online</b></h1>
	<hr>

	<p>Use this service to vote within a local or national election online.</p>

	<h3><b>Before You Start</b></h3>

	
		<h2>Proceed and Log In Using GOV.UK Verify</h2>
		<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to proceed or <a href="">click here</a> [LINK HREF REQUIRED] to learn more about the GOV.UK Verify process.</p>

	<p>To cast your vote online, you will need:</p>

	<ul>
		<li> <p>Your voter ID</p>
		<li> <p>Your voter code</p>
		<li> <p>Your election password</p>
	</ul>

	<br/>
	
	<table>
		<tr>
			<td>
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="padding-bottom: 15px;"></span>
			</td>
			<td>
				<p><b>You may only cast a single vote within an election, and will be unable to change your vote after it has been cast. Please make sure that you are ready to cast your vote before continuing.</p>
			</td>
		</tr>
	</table>

	
	<h3><b>Available Elections</b></h3>
	<p>You will select the election you wish to cast a ballot for later in the process. For now, please make sure that the election you wish to vote in is included within the list below. If it is missing, this may be because the online voting process has not yet opened, has closed, or the election is not available for online voting.</p>
	
	{% if elections %}
		<ul class="list-group expandable">
			{% for election in elections %}
				<li class="list-group-item">{{ election }}</li>
			{% endfor %}
			
		</ul>
	{% endif %}

	<h3><b>Proceed and Log In Using GOV.UK Verify</b></h3>
	<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to continue or <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">learn more about the GOV.UK Verify process</a>.</p>

	<a href="{% url 'public_verify' %}?destination=cast_vote_id"><button type="button" class="btn btn-success">Continue</button></a>

<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(e) {
		if( $('.expandable li').length > 3)
			$('<button class="btn btn-success" role="button" id="expandList">View All Avilable Elections</button>').insertAfter('.expandable');

		
		$('#expandList').on('click', function(e) {
			e.preventDefault();
			$('.expandable').toggleClass('expanded');
			$(this).text(( $(this).text() == "View All Avilable Elections") ? "Hide Elections" : "View All Avilable Elections" );
		});
	});
	</script>
{% endblock %}