{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}

	<style>
		tr,td
		{
			padding-right: 20px;
		}
	</style>

<div class="row">
		<h1 class="col-md-8 col-sm-8 col-xs-8" style="font-size: 40px;"><b>Enter Your Password</b> </h1> 
		<div class="col-md-4 col-sm-4 col-xs-4" id="verify_logo_conteiner">
				<img  id="verify_logo" src=" {% static '/images/Verify_logo.jpg' %} " /> 
		</div>
</div>
<hr/>

<div class="alert alert-success" role="alert"><p>You are verified as: <b>{{first_name}} {{last_name}}</b></p></div>

<h3>{{ election.name }}</h3>

<p>You must enter the password you created when registering for the following election:</p>

<p>Please enter your password for the {{ election.name }}.</p>

<br/>

	<table>
		<tr>
			<td>
				<span class="glyphicon glyphicon-info-sign" aria-hidden="true" style="padding-bottom: 15px;"></span>
			</td>
			<td>
				<p><b>Your password is the one you would have created whilst registering to vote online for the {{ election.name }}.</b></p>
			</td>
		</tr>
	</table>

	<br/>


	<form method="POST" class="form-horizontal">
		{% csrf_token %}
	    <input type="hidden" name="voter_id" value="{{election.id}}"/>
	    <input type="hidden" name="election_id" value="{{election.id}}"/>
	    <div id="row">
	    		<label for="password" style="font-size: 19px;">Password:</label>
	    		<input type="password" name="password" />
	    </div>
	    <div id="row">
	    		<button type="submit" class="btn btn-success">Submit</button>
	    </div>
    </form>







{% endblock %}