{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="row">
<h1 class="col-md-8 col-sm-8 col-xs-8" style="font-size: 40px;"><b>Enter your voter ID</b> </h1> 
<div class="col-md-4 col-sm-4 col-xs-4" id="verify_logo_conteiner">
<img  id="verify_logo" src=" {% static '/images/Verify_logo.jpg' %} " /> 
</div>
</div>
<p>You are verified as: {{first_name}} {{last_name}}</p>
<p>TODO:  REPLACE THIS TEXT WITH INSTRUCTIONS AND SUMMARY (enter voter id to see list of elections available to you .... )</p>
</br>


<div class="row">
	<form method="POST" class="form-horizontal">
		{% csrf_token %}

		<div class="col-md-12">
      		<label class="col-md-2" for="voter_id">Voter Id:</label>  <input class="col-md-10 form-control" type="text" name="voter_id" />
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>



{% endblock %}