{% extends 'voter_interface/base.html' %}

{% block content %}

	
	
	<h1><b>Cast Your Vote Online</b></h1>
	<hr>
	

		<p>In order to cast your vote in an election, you must be eligible to vote, and should be registered to vote on upcoming/existing elections. If you're not registered to vote in any elections, go back to the Online Voting Dashboard on the previous page. The next pages will require you to have your voter details ready. These details are your email, password, voter ID</p>
		<p><b>REMEMBER:</b> You only get to vote once in an election, once you've cast your vote you will not be able to vote in the same election again.</p>
	
	</br>

	
		<h3><b>Current Elections Nationally where Online Voting is open</b></h3>
		<p>You will select the elections you wish to register for later in the process. For now, please check your desired election is in the list below. If it is missing, this may be because the online registration process has not yet opened or because the election will not offer online voting. </p>
		<ul>
		<li><span>General Election<span> <span>(National)</span></li>
		<li><span>Local Election - chesham <span> <span>(Amersham and Chesham Constituency Only)</span></li>
		</ul>
	
	</br>

	
		<h3><b>Proceed and Log In Using GOV.UK Verify</b></h3>
		<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to proceed or <a href="">click here</a> [INSERT THE LINK] to learn more about the GOV.UK Verify process.</p>

		<a href="{% url 'public_verify' %}?destination=cast_vote_id"><button type="button" class="btn btn-success">Proceed to GOV.UK Verify Login</button></a>
	
	</br>

	

<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}
<script type="text/javascript">
	$('.carousel').carousel();
	</script>
{% endblock %}