{% extends 'voter_interface/base.html' %}
{% block content %}


<h1><b>Enter Your Vote Code</b></h1>
<hr/>

<div class="alert alert-success" role="alert"><p>You are verified as: <b>{{first_name}} {{last_name}}</b></p></div>

<div class="row">
	<p class="col-md-8">Please enter your vote code</p>
</div>
<div class="row">
	<div class="form-group col-md-4">
		<div class="input-group">
			<form method="POST">
				{% csrf_token %}
        		{{ form.as_p }}
				<button type="submit" class="btn btn-success">Save</button>
			</form>
		</div>
	</div>
</div>
{% if errors %}
<div class="errors">
	{% for error in erros %}
		<p class="error">{{ error }}</p>
	{% endfor %}
</div>
{% endif %}

{% endblock %}