{% extends 'voter_interface/base.html' %}

{% block content %}
<h2><b>Instructions</b></h2>
<hr>
<p>To cast your vote in the ballot, click the link titled "Proceed to Ballot". To request a brand new Voter Code, press the link titled "Request  a Voter Code".
<br/>
<ul class="list-inline white-font">
	<li><a class="btn-success btn" href="{% url 'public_vote__ballot' %}">Proceed to Ballot</a></li>
	<li><a class="btn-success btn" href="{% url 'public_vote__request_code' %}">Request a Voter Code</a></li>
</ul>
{% endblock %}