
{% extends 'voter_interface/base.html' %}
{% load static %}
{% block content %}

{% if not placed %}

<h1>Vote</h1>
<hr/>
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>To cast your vote, click the box alongside your choice of candidate. You may only vote once so your decision is final.</p>
    </div>

    <form method="POST">
        {% csrf_token %}
    <div id="ballot_paper_container" class="centered_block">
        <div id="ballot_top_container" class="centered_block">
            <div id="ballot_top_top_container" class="centered_block ballot_top_containers">
                <span class="election_title">Election of the Member of Parliament for the Buckinghamshire constituency</span>

            </div>

            <div id="ballot_top_bottom_container" class="centered_block ballot_top_containers">
                <span class="election_instructions">Vote for <b>only one candidate</b> by putting a cross in the box next to your choice</span>

            </div>

        </div>

        <div id="ballot_candidates_container" class="centered_block">
            
        {% for candidate in candidates %}
            <div class="ballot_candidate_container centered_block">
                <div class="ballot_candidate_info_container">
                    <span class="candidate_name centered_block">{{ candidate.last_name }}, {{ candidate.first_name }}</span>
                    <span class="candidate_address centered_block">{{ candidate.address }}</span>
                    <span class="candidate_party_name centered_block">{{ candidate.party.name }}</span>
                </div><div class="ballot_candidate_party_container">
                    <img class="party_logo" src="{% static '/images/'|add:candidate.party.name|add:'_logo.jpg' %}"/>
                </div>
                
                <div class="ballot_candidate_vote_container">
                    <div id="candidate_box_{{ candidate.id }}" class="ballot_vote_box" onclick="ToggleVoteX(this)">
                        <input id="candidate_rank_{{ candidate.id }}" class="ballot_rank" type="hidden" value=0 />
                        <img id="candidate_x_{{ candidate.id }}" class="vote_x_img" src="{% static '/images/vote_x.jpg' %}" />
                    </div>                  
                </div>
            </div>  
        {% endfor %}


        </div>
    

    </div>

    <input name="election_id" id="election_id" type="hidden" value="{{election_id}}"/>
    <input name="region_id" id="region_id" type="hidden" value="{{region_id}}"/>
    <input name="rank_data" id="rank_data" type="hidden" value="" />
    <input id="submit_vote_button" type="submit" class="btn btn-success" value="Submit Vote" onclick="CollectVoteData()">
    </form>
</div>

{% else %}

<h1>Vote Submitted</h1>
<hr/>
<div class="row">
<p class="col-md-8">Your vote has been submitted. Thank you for voting.</p>
</div>

{% endif %}


{% endblock %}