{% extends 'voter_interface/base.html' %}

{% block content %}

	
	
	<h1><b>Register to Vote Online Completed</b></h1>
	
	</br>

<!-- 	<div class="row">
		<p>You have completed your registration to vote online for the follow elections:</p>
		<p>{{election.name}}</p>
	</div>
	</br> -->

	
		<p>TODO Insert a summary about the pssword and the code and the next steps for the voter </p>
	
	</br>

<!--COPY AND PASTE THIS TO OVERWRITE LINE 5
<div class="row">
	
	<h1><b>Register to Vote Online Completed</b></h1>
	</div>
	</br>

	<div class="row">
		<p>You have completed your registration to vote online for the follow elections:</p>
		<p>{{election.name}}</p>
	</div>
	</br>

	<div class="row">
		<p>TODO Insert a summary about the pssword and the code and the next steps for the voter </p>
	</div>
	</br>
<-->
	

<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}

{% endblock %}