{% extends 'voter_interface/base.html' %}

{% block content %}
	
	
	<h1><b>Register to Vote Online</b></h1>
	<hr/>
	
	<p>To caste your vote online, you must first register to vote online. You must complete this process for each election. You will need a poll card for each election you would like to register for. This will arrive in the mail.</p>

	<h3><b>Active Elections</b></h3>
	
	<p>You will select the election you wish to register for later in the process. For now, please make sure that the election you wish to vote in is included within the list below. If it is missing, this may be because the online registration process has not yet opened, has closed, or the election is not available for online voting.</p>
	<ul class="list-group">
		<li class="list-group-item">[National] 2017 General Election</li>
		<li class="list-group-item">[Local] Chesham By-election <b>AMERSHAM AND CHESHAM CONSTITUENCY ONLY</b></li>
	</ul>
	
	<h3><b>Proceed and Log In Using GOV.UK Verify</b></h3>
	<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to continue or <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">learn more about the GOV.UK Verify process</a>.</p>

	<a href="{% url 'public_verify' %}?destination=register_voter_id"><button type="button" class="btn btn-success">Continue</button></a>

<!--INCASE YOU WANT TO GO BACK TO HAVING DIVs WITH ROWS
	<div class="row">
	
	<h1><b>Register to Vote Online</b></h1>
	<hr/>
	</div>
	</br>

	<div class="row">
		<p>Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here. Put the summary of voting online here.</p>
	</div>
	</br>

	<div class="row">
		<h3>Current Elections Nationally where Online Voting Registration is Open</h3>
		<p>You will select the elections you wish to register for later in the process. For now, please check your desired election is in the list below. If it is missing, this may be because the online registration process has not yet opened or because the election will not offer online voting. </p>
		<ul class="list-group">
			<li class="list-group-item">General Election (National)</li>
			<li class="list-group-item">Local Election - chesham (Amersham and Chesham Constituency Only)</li>
		</ul>
	</div>
	</br>

	<div class="row">
		<h2>Proceed and Log In Using GOV.UK Verify</h2>
		<p>To register to vote online, you must first login using the GOV.UK Verify service. Click the button bellow to proceed or <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">click here</a> to learn more about the GOV.UK Verify process.</p>

		<a href="{% url 'public_verify' %}?destination=register_voter_id"><button type="button" class="btn btn-success">Proceed to GOV.UK Verify Login</button></a>
	</div>
	</br>

	
<-->
<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}
<script type="text/javascript">
	$('.carousel').carousel();
	</script>
{% endblock %}