{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}

<div class="row">
  <h1 class="col-md-8 col-sm-8 col-xs-8" style="font-size: 40px;"><b>Create a Password</b> </h1> 
  <div class="col-md-4 col-sm-4 col-xs-4" id="verify_logo_conteiner">
    <img  id="verify_logo" src=" {% static '/images/Verify_logo.jpg' %} " /> 
  </div>
</div>
<hr>  



<div class="alert alert-success" role="alert"><p>You are verified as: <b>{{first_name}} {{last_name}}</b></p></div>

<h2>{{ election.name }}</h2>

<p>Please create a password for the {{ election.name }}.</p>

<p>With each election that you register to vote online for, you will be required to create a new password. This password is unique to you, should be different to passwords created for other elections, and <b>never be told to anyone</b>.</p>

<p>Your password <u>MUST</u>:</p>


<ul>
  <li><p>Contain at least <u>6</u> characters</p>
</ul>

  <div class="row" style="color: white; background-color: gray">
    <p>REMOVE THIS SECTION AFTER TESTING. Each time you wish to test the registering process, you will need to remove the previously created password. You will know you have this problem if you get the error: </p>
    <p>duplicate key value violates unique constraint "one_password_only"</p>
    <p><a href="{% url 'cleanafiction' %}">Click Here</a> to remove the existing passwords FOR AFICTION</p>
    <p><a href="{% url 'cleanjohn' %}">Click Here</a> to remove the existing passwords FOR JOHN</p>
    <p>Please always use 'GROUP2' as the password for the election so it's always the same. (Don't do this for the actual test cases though, use something realistic!)</p>
  </div>

<br/>

<form method="POST" id="create_confirm_password" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name="election_id" value="{{election.id}}"/>
    <div class="row">
        <label class="col-md-3" for="password" style="font-size: 19px;">Password:</label>
        <input class="col-md-9 form-control" type="password" name="password" id="password" />
    </div>
    <div class="row">
        <label class="col-md-3" for="confirm_password" style="font-size: 19px;">Confirm Password:</label>
        <input class="col-md-9 form-control" type="password" name="confirm_password" />
    </div>
    <div class="row">
        <div class="col-md-4">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>

{% endblock %}