{% extends 'voter_interface/base.html' %}

{% block content %}

	
	
	<h1><b>Register to Vote Online Completed</b></h1>
	<hr>
	</br>

<!-- 	<div class="row">
		<p>You have completed your registration to vote online for the follow elections:</p>
		<p>{{election.name}}</p>
	</div>
	</br> -->

	
		<p>You have successfully registered yourself for the election. Remember to make a note of your password as you will only be able to use that password with the election you registered.  </p>
	</br>

	<p>You will be able to vote in the election online when the appropriate date comes for the election.

<!--COPY AND PASTE THIS TO OVERWRITE LINE 5
<div class="row">
	
	<h1><b>Register to Vote Online Completed</b></h1>
	</div>
	</br>

	<div class="row">
		<p>You have completed your registration to vote online for the follow elections:</p>
		<p>{{election.name}}</p>
	</div>
	</br>

	<div class="row">
		<p>TODO Insert a summary about the pssword and the code and the next steps for the voter </p>
	</div>
	</br>
<-->
	

<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}

{% endblock %}