{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}

	
	

	<h1><b>Registration Complete</b></h1>
	<hr>

	<p>You have completed your registration and we have recieved your details.</p>


		<p>You have successfully registered yourself for the election. Remember to make a note of your password as you will only be able to use that password with the election you registered.  </p>
	</br>

	<p>You will be able to vote in the election online when the appropriate date comes for the election.

<!--COPY AND PASTE THIS TO OVERWRITE LINE 5
<div class="row">
	
	<h1><b>Register to Vote Online Completed</b></h1>
	</div>
	</br>

	<div class="row">
		<p>You have completed your registration to vote online for the follow elections:</p>
		<p>{{election.name}}</p>
	</div>
	</br>

	<div class="row">
		<p>TODO Insert a summary about the pssword and the code and the next steps for the voter </p>
	</div>
	</br>
<-->
	

	<p>Soon, you will recieve a letter from us in the post that includes a voter code, similar to the one you
	used within your registration today. Like before, this code is unique, and will be needed for when you come to
	cast your ballot. Don't worry, this will also be explained - in more detail - in the letter we will send to you.
	It should be with you within <u>7</u> working days.</p>

	<p>Online voting will open approximately a week before, and close before, election day. This is so that
	we know who to expect in the polling boothes on the day of the election. Please note, <span style="color: red;"><b>if you vote online, you will
	be unable to vote in person on election day</b></span>.</p>

	<p>Thank you for registering.</p>


<!--________________________________________________________________________________<-->


{% endblock %}
{% block js %}

{% endblock %}