{% extends 'voter_interface/base.html' %}
{% load staticfiles%}
{% block content %}
<div class="row">
<h1 class="col-md-8 col-sm-8 col-xs-8" style="font-size: 40px;"><b>Select an Election to Register For</b> </h1> 
<div class="col-md-4 col-sm-4 col-xs-4" id="verify_logo_conteiner">
<img  id="verify_logo" src=" {% static '/images/Verify_logo.jpg' %} " /> 
</div>
</div>
<p>You are verified as: {{first_name}} {{last_name}}</p>
<p>You are creating a password for the election:</p>
<p>{{ election.name }}</p>
<p>TODO: Submit password and in response create a voter code and show summary that the process has been completed.  REPLACE THIS TEXT WITH INSTRUCTIONS AND SUMMARY</p>
</br>


<div class="row">
	<form method="POST" class="form-horizontal">
		{% csrf_token %}

		<input type="hidden" name="election_id" value="{{election.id}}"/>
		<div class="col-md-12">
      		<label class="col-md-2" for="password">Password:</label>  <input class="col-md-10 form-control" type="password" name="password" />
        </div>

        <div class="col-md-12">
      		<label class="col-md-2" for="confirm_password">Confirm Password:</label>  <input class="col-md-10 form-control" type="password" name="confirm_password" />
        </div>
        
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>



{% endblock %}