{% extends 'admin_interface/base.html' %}
{% block content %}

{% if form.instance.id %}
    <h1><b>Edit Role</b></h1>
{% else %}
    <h1><b>New Role</b></h1>
{% endif %}
<hr>
<form method="POST" id="adminNewRole">{% csrf_token %}
    {{ form.as_p }}
    <button role="button" class="btn btn-success" style="display: inline-block">{% if form.instance.id  %}<i class="fa fa-floppy-o" aria-hidden="true"></i> Save{% else %}<i class="fa fa-plus" aria-hidden="true"></i> Create{% endif %}</button>
</form>

{% endblock %}